

/* Common */


body
{
    font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
    color: #000;
}

.inner
{
    position: relative;
    z-index: 1;

    width: 1100px;
    margin: 0 auto;
}



/* Clearfix */
/* For modern browsers */
.cf:before,
.cf:after
{
    display: table;

    content: '';
}

.cf:after
{
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf
{
    zoom: 1;
}


/* Header */

header
{
    width: 100%;
    height: 122px;

    background-color: rgba(255,255,255,.7);
}

header .logo
{
    position: absolute;
    top: 15px;
    left: 0;
}

header ul
{
    position: absolute;
    top: 35px;
    right: 0;

    text-align: right;
}

header ul a
{
    color: #000;
}

header ul li
{
    font-weight: bold;

    display: inline-block;

    width: 130px;

    text-align: center;
}

header ul a li.contact
{
    font-size: 90%;

    padding: 0 0 0 35px;

    color: #0062b0;
    border-left: 1px solid #0062b0;
}

header ul a:hover
{
    text-decoration: none;
}



/* Footer */

footer
{
    clear: both;

    width: 100%;
    margin-top: 150px;

    border-top: 1px solid #0062b0;
}

footer .top-area
{
    padding: 40px 0;
}

footer .info-area
{
    float: left;

    width: 680px;
    margin-left: 50px;
}

footer .info-area address
{
    font-size: 90%;
    line-height: 1.6;
}

footer .site-map
{
    float: right;

    width: 300px;
}

footer .site-map ul
{
    font-size: 90%;
    line-height: 2.3;

    position: relative;
    top: 0;

    float: left;

    width: 150px;
}


footer .site-map ul a
{
    position: relative;

    color: #000;
}

footer .site-map ul a:hover
{
    text-decoration: none;
}

footer .site-map ul a:hover:before
{
    font-size: 60%;

    position: absolute;
    top: -3px;
    left: -20px;

    content: '▶';
    -webkit-transition: .3s ease-out;
       -moz-transition: .3s ease-out;
         -o-transition: .3s ease-out;
            transition: .3s ease-out;

    color: #0062b0;
}


footer .site-map ul li span
{
    position: relative;
    left: 15px;

    display: block;
}

footer .copy
{
    line-height: 59px;

    clear: both;

    width: 100%;
    height: 59px;

    color: white;
    background-color: #0062b0;
}

footer .copy span
{
    font-size: 70%;
}

footer .copy #pagetop
{
    font-size: 80%;

    position: absolute;
    top: 0;
    right: 0;

    padding: 0 35px 0 25px;

    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

footer .copy #pagetop a
{
    color: white;
}

footer .copy #pagetop a:hover
{
    text-decoration: none;
}

footer .address1 {
    float: left;
    font-size: 90%;
    margin-top: 10px;
}

footer .address2 {
    float: left;
    font-size: 90%;
    position: relative;
    left: 25px;
    margin-top: 10px;
}

/* MainVisual */

.sub-main-visual
{
    position: relative;
    z-index: 0;
    z-index: 0;
    top: 0;

    width: 100vw;
    height: 305px;
    margin-top: -122px;

    background: url(../img/top/main_image.jpg) center -200px no-repeat;
}

.sub-main-visual .inner
{
padding: 160px 0 50px;
text-align: center;
}

.sub-main-visual .sub-ttl {
	font-size: 180%;
	color: #0062B0;
}

.sub-main-visual .sub-ttl span {
	display: block;
	font-size:50%;
    position: relative;
    top: 15px;
}


.bread {
	width: 1000px;
	margin: 30px auto;
}

.bread ul {
	text-align: right;
}

.bread ul li {
	display: inline-block;
}

.bread ul li:nth-child(2):before {
content: ">";
padding: 0 20px;
}


h2 {
	   font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
	font-size: 20px;
    color: #0062B0;
    font-weight: bold;
    padding-top: 15px;
}

h2:after {
content: "";
display: block;
height: 1px;
margin-top: 10px;
background-color: rgb(0, 97, 176);

}

h3 {
	font-size: 31px;
	color: #0062B0;
	font-weight: bold;
	display: inline;
	padding: 15px 15px;
}


