

#wrapper
{
    position: relative;
}




main {
	width: 1000px;
	margin: 100px auto;
}

.big-copy {
	font-size: 280%;
	color: #0062B0;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	line-height: 1.6;
	letter-spacing: -2px;
}

#c01,#c02 {
	margin-bottom: 100px;
	clear: both;
}

#c03 {
	clear: both;
}


.cont .left {
	float: left;
	width:49%;
}

.cont .right {
	float: right;
	width:49%;
}


#c01 .cont {
	padding: 27px 0px;
}

#c02 .cont {
	padding: 27px 0px;
}

#c03 .cont {
	padding: 27px 0px;
}



#c02 .cont table {

}


table {
	font-size: 16px;
}

table th {
	padding: 10px 0;
	text-align: left;
	font-weight: bold;
	line-height: 1.6;
	width: 120px;
}

table td {
	text-align: left;
	padding: 10px 0;
	line-height: 1.6;
	color: #000;
}

#c03 table th {

color: #000;
	width: 160px;
}