

#wrapper
{
    position: relative;
}




main {
	width: 1000px;
	margin: 0 auto;
}


.image {
	text-align: center;
	margin: 55px 0;
}


.message {
	width: 100%;
	background-color: #DCE8EF;
	padding: 30px 35px;
	margin: 30px 0;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.message p {
	font-size: 16px;
	line-height: 1.8;
	font-weight: bold;
}


.sub-c-ttl p {
	display: inline;
	font-size: 17px;
	font-weight: bold;
}

.mes-ttl {
	font-size: 180%;
	padding-bottom: 10px;
	color: #0062B0;
	font-weight: bold;
}