@charset "UTF-8";

.fv .wrap{
	margin-bottom: 30px;
	height: 236px;

	display: -webkit-flex;
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}
.fv .catch{
	font-size: 2.6rem;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	float: left;
}

.fv .catch_sub{
	font-size: 1.2rem;
float: left;
padding: 10px 15px;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}



.fv .wrap .catch_title p {
	display: block;
	position: relative;
	letter-spacing: 5px;
}

.fv .catch_copy {
	clear: both;
	font-size: 1.2rem;
	letter-spacing: 1px !important;
}

.fv .catch + p{
	margin-bottom: 0px;
	font-size: 1.4rem;
}
.fv .pink_box{
	display: table;
	padding: 10px;
	font-size: 1.2rem;
	line-height: 1;
	background: #fcacac;
}

h2{
	margin-bottom: 34px;
	font-size: 1.4rem;
	line-height: 1;
}
h2 span{
	margin-right: 20px;
	font-size: 5rem;
}


section {
	font-size: 1.6rem;
}

.cop {
	text-align: center;
	padding: 0 0 85px 0;
	font-size: 80%;
}


.nav {
margin-top: 50px;
}
.nav ul {
	text-align: center;
}
.nav ul li {
display: inline-block;
text-align: center;
width: 260px;
height:30px;
border-bottom: 1px solid #ccc;
margin: 0 10px;
font-size: 18px !important;
}

.nav ul li:hover {
	border-bottom: 3px solid #ccc;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.nav ul li.active {
	border-bottom: 3px solid #ccc;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


.form {
	width: 960px;
	margin: 50px auto;
	line-height: 1.8;
}

.message{
	padding-bottom: 90px;
	text-align: center;
}

.message .main-ttl {
	font-size: 2.5rem;
	font-weight: bold;
	padding-bottom: 28px;
}

.message .txt{
	font-size: 1.6rem;
	line-height: 32px;
	letter-spacing: -1px;
}



/*--------画面サイズ767px以下--------*/
@media screen and (max-width : 767px){
	.fv .wrap{
    padding: 0;
		margin-bottom: 10%;
		background: none;
    width: 85%;
  }
	.fv p{
		margin: auto;
	}
	.fv .catch{
		font-size: 2.8rem;
	}
	.fv .catch + p{
		margin-bottom: 3%;
		font-size: 1.2rem;
	}
	
	.fv p img{
		width: 60%;
		float: right;
	}
.fv .catch_sub{
	font-size: 1.2rem;
padding: 0px;
clear: both;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.fv .wrap .catch_title {

  display: inline;
  text-align: center;
}
.fv .wrap .catch_title p {
	display: block;
	position: relative;
	left: 0px;
	letter-spacing: 1px;
    text-align: center;
}


.form {
	width: 90%;
	margin: 50px auto;
}



.nav {
margin-bottom: 0px;
}
.nav ul {
  text-align: center;
}
.nav ul li {
display: inline-block;
padding-bottom: 10px;
text-align: center;
width: 20%;
height:30px;
border-bottom: 1px solid #ccc;
margin: 0 10px;
cursor: pointer;

}

.nav ul li:hover {
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.nav ul li.active {
  border-bottom: 3px solid #ccc;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


.message .main-ttl {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 28px;
  line-height: 1.6;
}

}

/*----------------

PCレイアウト
width:769 以上

-----------------*/


.notice.red {
    color: red !important;
    clear: both;
}

@media screen and (min-width: 769px)
{
    nav li a,
    nav li span
    {
        z-index: 200;

        color: #000 !important;
    }

 

    /*----------------CONTENTS-----------------*/

    #content
    {
        clear: both;
    }
 
.main-cop {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    margin: 100px 0 30px;
    padding-top: 80px;
}

.note-must {
    padding-bottom: 10px;
}

.flBox {
    float: left;
}

span.must {
    background-color: #fd9999;
    color: white;
    padding: 0px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

span.nini {
    background-color: #ccc;
    color: white;
    padding: 0px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.flBox input.uk-input {
    width: 80%;
    float: left;
}

.inline {
  position: relative;
  left: 15px;
  top: 5px;
}

.wid3 {
    width: 30%;
}


        #entry .detail-box {
margin-bottom: 100px;
        }

        #entry .detail-box .ttl {
            font-size: 130%;
            font-weight: bold;
            background-color: #EAEAEA;
            padding: 10px 20px 5px;
            margin-bottom: 25px;
            -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
        }

         #entry .detail-box p {
            display: block;
            padding: 0 10px;
            margin: 25px 0;
         }

    

       #entry .detail-box .table 
       {
        display: table;
        width: 100%;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
       }  

        #entry .detail-box .table .th {
            display: table-cell;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 10px 20px;
            text-align: left;
                        -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
width: 30%;
        }
        #entry .detail-box .table .tr {
            width: 100%;
            display: table;
        }
         #entry .detail-box .table .td {
            display: table-cell;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 10px 20px;
            text-align: left;
                        -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
width: 80%;
        }

input.uk-input {
    background-color: #ffe8e8;
    border:none;
     border: 1px solid #e8e8e8;
}



input.uk-input.bg-w {
    background-color: white;
}

input[type="text"].uk-input:focus {
  border: 1px solid orange;
  outline: 0;
                          -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

input[type="submit"].btSubmit{
   width: 461px;
    height: 92px;
    font-size: 1.2em;
    background-color: #666;
    color: #fff;
    border-style: none !important;
    -webkit-appearance: none !important;
cursor: pointer;
}

input[type="submit"].back{
   width: 461px;
    height: 92px;
    font-size: 1.2em;
    background-color: #ccc
    color: #000;
    border-style: none !important;
    -webkit-appearance: none !important;
cursor: pointer;
}

#entry .btn {
  text-align: center;
  margin:0 auto;
      width: 461px;
}

#entry .btn input {
background-color: #000;
    width: 461px;
    height: 92px;
    text-align: center;
    line-height: 92px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#entry .btn input.back {
background-color: #ccc;
color: #000;
}

#entry .btn input:hover {
  background-color: #333;
}
#entry .btn input.back:hover {
  color: #fff;
}

#entry .mw_wp_form_confirm .btn  {

    width: 100%;
    height: 92px;
    text-align: center;
    line-height: 92px;
    margin: 30px auto;
}

#entry .mw_wp_form_confirm .btn-back  {
    background-color: #000;
    width: 400px;
    height: 92px;
    text-align: center;
    line-height: 92px;
    margin: 30px 50px;
    float: left;
    position: relative;
    left: 20px;
}

#entry .btncover ul{
    text-align: center;
    margin-top: 20px;
}

#entry .btncover ul li {
    display: inline-block;
    margin: 10px;
}

#entry a .btn {
    color: white;
}

#entry a .btn img {
    position: relative;
    top: 10px;
    left: 5px;
}

#entry a:hover {
    text-decoration: none;

}
#entry a:hover .btn {
        -webkit-transition: .3s ease-out;
           -moz-transition: .3s ease-out;
             -o-transition: .3s ease-out;
                transition: .3s ease-out;

        background-color: #333;

}

.note {
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
   margin: 20px auto　75px !important;
   padding-top: 25px;
}

.note .tr {
    width: 260px;
  
}

.note .td {
    display: table-cell;
    padding: 10px 10px 10px 0;
}

}


















/*----------------

スマホレイアウト
width:768 以下

-----------------*/


@media screen and (max-width: 768px)
{
    /*----------------MAIN VISUAL-----------------*/

  


    /*----------------CONTENTS-----------------*/

    #content
    {
        clear: both;

        width: 90%;
        margin: 45px auto;

        color: #000;
    }


.main-cop {
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.8;
    margin-top: 50px;
}



span.must {
    background-color: #fd9999;
    color: white;
    padding: 0px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

span.nini {
    background-color: #ccc;
    color: white;
    padding: 0px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.note-must {
    padding-bottom: 10px;
}

.flBox {
    float: left;
}

span.must {
    background-color: #fd9999;
    color: white;
    padding: 3px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: bold;
    position: relative;
    top: -2px;
}

span.nini {
    background-color: #ccc;
    color: white;
    padding: 3px 5px;
    font-size: 80%;
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.flBox {
    width: 33%;
    float: left;
    margin-bottom: 10px;
}

.flBox input.uk-input {
    width: 70%;
    float: left;
}

.inline {
  position: relative;
  left: 5px;
  top: 12px;
}

.wid3 {
    width: 70%;
}


.th {
    padding: 20px 0 5px;
    clear: both;
}

.td {
    clear: both;
}

label {
    padding: 25px;
}

label input.uk-radio {
    padding-right: 15px;
    margin-right: 10px;
}

        #entry .detail-box {
margin-bottom: 100px;
        }

        #entry .detail-box .ttl {
            font-size: 120%;
            font-weight: bold;
            background-color: #EAEAEA;
            padding: 20px 20px 15px;
            margin-bottom: 25px;
            -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
line-height: 1.6;
        }

         #entry .detail-box p {
            display: block;
            padding: 0 10px;
           
         }

        #entry .detail-box .p-ttl {
            font-weight: bold;
            font-size: 100%;
           padding: 0px 5px;
    line-height: 1.6;
        }

        #entry .detail-box .p-box {
            margin-bottom: 25px;
            margin-top: 10px;
                    line-height: 1.8;
        }

         #entry .detail-box .p-box .box-ttl {
            font-weight: bold;
         }


       #entry .detail-box table 
       {
        width: 100%;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            line-height: 1.8;
       }  

        #entry .detail-box table th {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 10px 20px;
            text-align: left;
                        -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
width: 30%;
        }
         #entry .detail-box table td {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 10px 20px;
            text-align: left;
                        -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align: middle;
        }


input[type="submit"].btSubmit{
    width: 100%;
    height: 92px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    border-style: none !important;
    -webkit-appearance: none !important;
}

input[type="submit"].back{
    width: 100%;
    height: 92px;
    font-size: 1.2em;
    background-color: #ccc;
    color: #000;
    border-style: none !important;
    -webkit-appearance: none !important;
cursor: pointer;
margin-top: 15px;
}


#entry .btn {
        width: 100%;
    height: 92px;
    background-color: #000;

    text-align: center;
    line-height: 92px;
    margin: 0 auto;
}

#entry a .btn {
    color: white;
}

#entry a .btn img {
    position: relative;
    top: 10px;
    left: 5px;
}

#entry a:hover {
    text-decoration: none;

}
#entry a:hover .btn {
        -webkit-transition: .3s ease-out;
           -moz-transition: .3s ease-out;
             -o-transition: .3s ease-out;
                transition: .3s ease-out;

        background-color: #333;

}


input.uk-input {
    background-color: #ffe8e8;
    border:none;
     border: 1px solid #e8e8e8;
     margin-bottom: 10px;
}

.sample {
    margin-bottom: 20px;
}

input.uk-input.bg-w {
    background-color: white;
}

input[type="text"].uk-input:focus {
  border: 1px solid orange;
  outline: 0;
                          -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.uk-textarea {
    line-height: 1.6;
}


.note .tr {
    display: table;
       margin-bottom: 75px;

}

.note .td {
    display: table-cell;
    padding: 10px 0px 10px 0;
    line-height: 1.6;
}

}
/* ========================================================================
   Component: Form
 ========================================================================== */
/*
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Change font properties to `inherit` in all browsers
 */
.uk-input,
.uk-select,
.uk-textarea,
.uk-radio,
.uk-checkbox {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
}
/*
 * Show the overflow in Edge.
 */
.uk-input {
  overflow: visible;
}
/*
 * Remove the inheritance of text transform in Firefox.
 */
.uk-select {
  text-transform: none;
}
/*
 * 1. Change font properties to `inherit` in all browsers
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */
.uk-select optgroup {
  /* 1 */
  font: inherit;
  /* 2 */
  font-weight: bold;
}
/*
 * Remove the default vertical scrollbar in IE.
 */
.uk-textarea {
  overflow: auto;
}
/*
 * Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
 */
.uk-input[type="search"]::-webkit-search-cancel-button,
.uk-input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
.uk-input[type="number"]::-webkit-inner-spin-button,
.uk-input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/*
 * Removes placeholder transparency in Firefox.
 */
.uk-input::-moz-placeholder,
.uk-textarea::-moz-placeholder {
  opacity: 1;
}
/*
 * Improves consistency of cursor style for clickable elements
 */
.uk-radio:not(:disabled),
.uk-checkbox:not(:disabled) {
  cursor: pointer;
}
/*
 * Define consistent border, margin, and padding.
 */
.uk-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* Input, select and textarea
 * Allowed: `text`, `password`, `datetime`, `datetime-local`, `date`,  `month`,
            `time`, `week`, `number`, `email`, `url`, `search`, `tel`, `color`
 * Disallowed: `range`, `radio`, `checkbox`, `file`, `submit`, `reset` and `image`
 ========================================================================== */
/*
 * Remove default style in iOS.
 */
.uk-input,
.uk-textarea {
  -webkit-appearance: none;
}
/*
 * 1. Prevent content overflow if a fixed width is used
 * 2. Take the full width
 * 3. Reset default
 * 4. Style
 */
.uk-input,
.uk-select,
.uk-textarea {
  /* 1 */
  max-width: 100%;
  /* 2 */
  width: 100%;
  /* 3 */
  border: 0 none;
  /* 4 */
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}
/*
 * Single-line
 * 1. Allow any element to look like an `input` or `select` element
 * 2. Make sure line-height is not larger than height
 *    Also needed to center the text vertically
 */
.uk-input,
.uk-select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  /* 1 */
  display: inline-block;
}
/* 2 */
.uk-input:not(input),
.uk-select:not(select) {
  line-height: 38px;
}
/*
 * Multi-line
 */
.uk-select[multiple],
.uk-select[size],
.uk-textarea {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top;
}
/* Focus */
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}
/* Disabled */
.uk-input:disabled,
.uk-select:disabled,
.uk-textarea:disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #e5e5e5;
}
/*
 * Placeholder
 */
.uk-input:-ms-input-placeholder {
  color: #999 !important;
}
.uk-input::placeholder {
  color: #999;
}
.uk-textarea:-ms-input-placeholder {
  color: #999 !important;
}
.uk-textarea::placeholder {
  color: #999;
}
/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */
/*
 * Small
 */
.uk-form-small {
  font-size: 0.875rem;
}
.uk-form-small:not(textarea):not([multiple]):not([size]) {
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
}
.uk-form-small:not(select):not(input):not(textarea) {
  line-height: 28px;
}
/*
 * Large
 */
.uk-form-large {
  font-size: 1.25rem;
}
.uk-form-large:not(textarea):not([multiple]):not([size]) {
  height: 55px;
  padding-left: 12px;
  padding-right: 12px;
}
.uk-form-large:not(select):not(input):not(textarea) {
  line-height: 53px;
}
/* Style modifier (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */
/*
 * Error
 */
.uk-form-danger,
.uk-form-danger:focus {
  color: #f0506e;
  border-color: #f0506e;
}
/*
 * Success
 */
.uk-form-success,
.uk-form-success:focus {
  color: #32d296;
  border-color: #32d296;
}
/*
 * Blank
 */
.uk-form-blank {
  background: none;
  border-color: transparent;
}
.uk-form-blank:focus {
  border-color: #e5e5e5;
  border-style: dashed;
}
/* Width modifiers (`uk-input`, `uk-select` and `uk-textarea`)
 ========================================================================== */
/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */
input.uk-form-width-xsmall {
  width: 50px;
}
select.uk-form-width-xsmall {
  width: 75px;
}
.uk-form-width-small {
  width: 130px;
}
.uk-form-width-medium {
  width: 200px;
}
.uk-form-width-large {
  width: 500px;
}
/* Select
 ========================================================================== */
/*
 * 1. Remove default style. Also works in Firefox
 * 2. Style
 * 3. Remove default style in IE 10/11
 */
.uk-select:not([multiple]):not([size]) {
  /* 1 */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 2 */
  padding-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
/* 3 */
.uk-select:not([multiple]):not([size])::-ms-expand {
  display: none;
}
/*
 * Disabled
 */
.uk-select:not([multiple]):not([size]):disabled {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
/* Radio and checkbox
 * Note: Does not work in IE11
 ========================================================================== */
/*
 * 1. Style
 * 2. Make box more robust so it clips the child element
 * 3. Vertical alignment
 * 4. Remove default style
 * 5. Fix black background on iOS
 * 6. Center icons
 */
.uk-radio,
.uk-checkbox {
  /* 1 */
  display: inline-block;
  height: 16px;
  width: 16px;
  /* 2 */
  overflow: hidden;
  /* 3 */
  margin-top: -4px;
  vertical-align: middle;
  /* 4 */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 5 */
  background-color: transparent;
  /* 6 */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #cccccc;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border;
}
.uk-radio {
  border-radius: 50%;
}
/* Focus */
.uk-radio:focus,
.uk-checkbox:focus {
  outline: none;
  border-color: #1e87f0;
}
/*
 * Checked
 */
.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate {
  background-color: #1e87f0;
  border-color: transparent;
}
/* Focus */
.uk-radio:checked:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus {
  background-color: #0e6dcd;
}
/*
 * Icons
 */
.uk-radio:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-checkbox:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
/*
 * Disabled
 */
.uk-radio:disabled,
.uk-checkbox:disabled {
  background-color: #f8f8f8;
  border-color: #e5e5e5;
}
.uk-radio:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-checkbox:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-checkbox:disabled:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
/* Legend
 ========================================================================== */
/*
 * Legend
 * 1. Behave like block element
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove padding so people aren't caught out if they zero out fieldsets.
 * 4. Style
 */
.uk-legend {
  /* 1 */
  width: 100%;
  /* 2 */
  color: inherit;
  /* 3 */
  padding: 0;
  /* 4 */
  font-size: 1.5rem;
  line-height: 1.4;
}
/* Custom controls
 ========================================================================== */
/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow
 * 4. Behave like most inline-block elements
 */
.uk-form-custom {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}
/*
 * 1. Position and resize the form control to always cover its container
 * 2. Required for Firefox for positioning to the left
 * 3. Required for Webkit to make `height` work
 * 4. Hide controle and show cursor
 * 5. Needed for the cursor
 * 6. Clip height caused by 5. Needed for Webkit only
 */
.uk-form-custom select,
.uk-form-custom input[type="file"] {
  /* 1 */
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* 2 */
  left: 0;
  /* 3 */
  -webkit-appearance: none;
  /* 4 */
  opacity: 0;
  cursor: pointer;
}
.uk-form-custom input[type="file"] {
  /* 5 */
  font-size: 500px;
  /* 6 */
  overflow: hidden;
}
/* Label
 ========================================================================== */
.uk-form-label {
  color: #333;
  font-size: 0.875rem;
}
/* Layout
 ========================================================================== */
/*
 * Stacked
 */
.uk-form-stacked .uk-form-label {
  display: block;
  margin-bottom: 5px;
}





#entry .privacy.check {
  text-align: center;
  margin: 35px auto;
}


#entry .mw_wp_form_confirm span.must,
#entry .mw_wp_form_confirm span.nini,
#entry .mw_wp_form_confirm .privacy {
  display: none !important;
}


 .mw_wp_form_confirm .detail-box .table {
  margin-bottom: 25px;
}

