

#wrapper
{
    position: relative;
}




main {
	width: 1000px;
	margin: 100px auto;
}

.big-copy {
	font-size: 280%;
	color: #0062B0;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	line-height: 1.6;
	letter-spacing: -2px;
}

#c01,#c02 {
	margin-bottom: 100px;
	clear: both;
}

#c03 {
	clear: both;
}


.cont .left {
	float: left;
	width:49%;
}

.cont .right {
	float: right;
	width:49%;
}


#c01 .cont {
	padding: 27px 0px;
}

#c02 .cont {
	padding: 27px 0px;
}

#c03 .cont {
	padding: 27px 0px;
}



#c02 .cont table {

}


table {
	font-size: 16px;
}

table th {
	padding: 10px 10px;
	text-align: left;
	font-weight: bold;
	line-height: 1.6;
	width: 60px;
	background-color: #abc8e8;
	text-align: center;
	border-bottom: 3px solid #fff;
	vertical-align: middle;
}

table td {
	text-align: left;
	padding: 10px 10px;
	line-height: 1.6;
	color: #000;
}

#c03 table th {
font-weight: normal;
color: #000;
	width: 160px;
}


.recruit-form {
	clear: both;
	background-color: #0062b0;
	color: white;
	padding: 45px;
	font-size: 120%;
	line-height: 1.8;
	margin-top: 50px;
}

.recruit-form h4 {
	color: white;
	font-size: 120%;
}

.recruit-form .tel {
	font-size: 300%;
}

.recruit-form .tel a {
	color: white;
}

.recruit-form .tel img {
	padding: 10px;
	position: relative;
	top: -10px;
}

.recruit-form .mail {
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: white;
	color: #008BE0;
	font-weight: bold;
	margin-top: 10px;
}

.recruit-form .mail:hover {
	opacity: 0.7;
}

.recruit-form a:hover {
	text-decoration: none;
	opacity: 0.7;
}


p {
	line-height: 2;
	padding: 10px 0;
}