

#wrapper
{
    position: relative;
}




main {
	width: 1000px;
	margin: 100px auto;
	clear: both;
}



#c01,#c02 {
	margin-bottom: 100px;
	clear: both;
	font-size: 16px;
	line-height: 1.6;
}

#c03 {
	clear: both;
}


.cont .left {
	float: left;
	width:49%;
}

.cont .right {
	float: right;
	width:49%;
}


#c01 .cont {

}

#c02 .cont {
	padding: 0px 0px;
}

#c03 .cont {
	padding: 27px 0px;
}

.sub-nav {
	width: 1000px;
	margin: 0 auto;
	clear: both;
}

.sub-nav ul {
	text-align: center;
}

.sub-nav ul li {
	float: left;
}

.sub-nav ul li a {
	display: block;
}

.sub-nav ul li a:hover {
	text-decoration: none;
}

.sub-nav ul li:first-child {
	margin-right: 20px;
}

.balloon-1-bottom {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 455px;
	height: 79px;
	line-height: 79px;
	color: #19283C;
	text-align: center;
	background: #FFF;
	border: 2px solid #BDE5F2;
	z-index: 0;
	color: #0062B0;
	font-size: 18px;
	font-weight: bold;
}

.balloon-1-bottom:hover {
	background: #BDE5F2;
	border: 2px solid #BDE5F2;
}

.balloon-1-bottom:hover:before {
	content: "";
	position: absolute;
	bottom: -8px; left: 50%;
	margin-left: -9px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 0 9px;
	border-color: #BDE5F2 transparent transparent transparent;
	z-index: 0;
}
.balloon-1-bottom:hover:after {
	content: "";
	position: absolute;
	bottom: -12px; left: 50%;
	margin-left: -10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #BDE5F2 transparent transparent transparent;
	z-index: -1;
}

h4 {
	font-size: 140%;
	color: #EB6D6D;
	font-weight: bold;
}

h4:before {
	content: "■";
	color: #EB6D6D;
	padding-right: 10px;
}

.btn {
	color: #0091DA;
	width: 100%;
	border: 1.5px solid #0091DA;
font-size: 18px;
font-weight: bold;
margin-top: 35px;
text-align: center;
padding: 25px 0;
	-webkit-transition: 0.1s ease-out;  
       -moz-transition: 0.1s ease-out;  
         -o-transition: 0.1s ease-out;  
            transition: 0.1s ease-out;  
}

.btn:hover {
	background-color: #0091DA;
	color: #fff;
}

.btn img {
	position: relative;
	top: -5px;
}

a:hover  {
	text-decoration: none;
}


.circle {
	font-size: 21px;
	color: #fff;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	background-color: #EB6D6D;
	display: block;
	text-align: center;
	line-height: 79px;
	float: left;
	margin-right: 10px;
}


.col-1{
	margin-bottom:80px;
}


.col-2 {
	margin-bottom:10px;
}

.col-1 table {
	float: left;
	width: 900px;
}

.col-1 img {
	margin-top: 20px;
}

.col-1 table th,
.col-1 table td {
	text-align: center;
		font-size: 21px;
		padding:3px 5px; 
		border: 4px solid #fff;
}

.col-1 table th.c-gray01 {
	background-color: #B4B4B5;
	color: white;
}

.col-1 table th.c-pink01 {
	background-color: #F4B8C6;
}

.col-1 table th.c-orange01 {
	background-color: #F9D19D;
}

.col-1 table td.c-gray02 {
	background-color: #E8E8E8;

}

.col-1 table td.c-pink02 {
	background-color: #F7E2E8;

}

.col-1 table td.c-orange02 {
	background-color: #FFEED9;

}

.col-1 table td.total {
	color: #E50012;
	font-weight: bold;
}

.note {
	clear: both;
	display: block;
	padding-left: 95px;
}


#c02 .col-2 {
	background: url(../img/service/bg.jpg) no-repeat right top;
	position: relative;
}


.main-ttl {
	font-size: 25px;
	color: #EB6D6D;
	font-weight: bold;
}

p {
	line-height: 2;
}

.b {
	color: #EB6D6D;
}

#c02 .col-2 p {
	padding: 10px 0 120px;
	width: 497px;
}

.box01 span,
.box02 span,
.box03 span {
	font-size: 90%;
}

.box01 {
position: absolute;
top: 60px;
right: 180px;
text-align: center;
}

.box02 {
position: absolute;
    bottom: 40px;
    right: 280px;
text-align: center;
}

.box03 {
position: absolute;
    bottom: 60px;
    right: 65px;
text-align: center;
}

.b-ttl {
	font-weight: bold;
font-size: 120%;
}
.box01 .b-ttl {
color: #EB6D6D;

}

.box02 .b-ttl {
color: #F7B52C;

}

.box03 .b-ttl {
color: #F7B52C;
}



.houmon-box {
	background-color: #D8EBD2;
	padding: 20px;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.houmon-box h4 {
	color: #5EB231;
}

.houmon-box h4:before {
	color: #5EB231;
}

.houmon-box .left{
	float: left;
	width: 49%;
}

.houmon-box .right{
	float: right;
	width: 49%;
}

.cop {
	font-weight: bold;
	padding: 0 0 10px 0;
}

.voice {
	border-radius: 10px;
	background-color: #FCEEBD;
	padding: 9px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.answer {
	border-radius: 10px;
	background-color: #FAD9D9;
	padding: 9px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.answer span {
	font-size:18px;
	color: #E94744;
	display: block;
}

.orange {
	border:3px solid orange ;
	background-color: orange;
	color: #fff;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	margin: 0 0 20px 0;
	border-radius: 5px;
}

.box {
	background-color: white;
	padding: 15px;
	border: 5px solid #EC6D6E;
}

.box .day {
	color: white;
	background-color: #EF7C1B;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.date {
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	padding: 0 20px;
}

.note01 {
	display: inline-block;
	font-size: 26px;
	color: #EC6D6E;
	font-weight: bold;
}

.box .top {
	text-align: center;
	float: left;
	width: 50%;
	    position: relative;
    top: 15px;
}

.box table {
	width: 48%;
	float: right;
}

.box table th {
	background-color: #EC6D6E;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
}

.box table td {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding: 10px;
}

.box table td span {
	color: #EC6D6E;
	font-size: 16px;
}


.contact {
	clear: both;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.contact .tel {
	display: inline-block;
	font-size: 50px;
	color: #EC6D6E;
	position: relative;
	top: 3px;
}

.contact span {
}

.contact .tel img {
margin: 10px;
}

.contact .name {
	display: inline-block;
}