

#wrapper
{
    position: relative;
}


/* MainVisual */

.main-visual
{
    position: relative;
    z-index: 0;
    z-index: 0;
    top: 0;

    width: 100vw;
    height: 956px;
    margin-top: -122px;

    background: url(../img/top/main_image.jpg) top center no-repeat;
}

.main-visual .inner
{
    position: relative;
    top: 40%;
}


.info
{
    position: relative;
    z-index: 2;

    width: 100%;
    padding: 40px 0;

    color: white;
    background-color: #61818e;
}

.info-ttl
{
    line-height: 65px;

    position: absolute;
    top: -65px;
    right: 0;
    left: 0;

    width: 1100px;
    height: 65px;
    margin: 0 auto;

    text-align: center;
    letter-spacing: 2px;

    color: white;
    background-color: rgba(0,98,176,.8);
}


.info ul
{
    text-align: center;
}

.info ul li
{
    display: inline-block;
}

.info ul li.cate
{
    font-size: 80%;
    font-weight: bold;

    margin: 0 25px;
    padding: 5px 12px;

    text-align: center;

    color: #61818e;
    background-color: white;
}



.c-ttl
{
    font-size: 41px;

    color: #0062b0;
}



/* C01 */



#c01
{
    line-height: 2;

    width: 650px;
    margin: 0 auto;
    padding: 80px 0;

    text-align: center;
}

#c01 .ttl
{
    font-size: 18px;
    font-weight: bold;

    padding-bottom: 10px;

    color: #0062b0;
}

#c01 .line
{
    width: 102px;
    height: 1px;
    margin: 0 auto;

    text-align: center;

    background-color: #0062b0;
}

#c01 .btn
{
    font-weight: bold;
    line-height: 42px;

    width: 324px;
    height: 42px;
    margin: 20px auto;

    text-align: center;

    color: #0062b0;
    background-color: #b0def7;
}

#c01 a:hover
{
    text-decoration: none;
}

#c01 a:hover .btn
{
    opacity: .7;
}




/* C02 */

#c02
{
    width: 100%;
    height: 482px;
}

#c02 .left
{
    float: left;

    width: 50%;
    height: 482px;

    color: white;
    background-color: #0062b0;
}

#c02 .left .bloc
{
    position: relative;
    left: -10px;

    float: right;

    width: 500px;
    padding: 25px;
}

#c02 .left .bloc .c-ttl
{
    font-size: 41px;

    padding: 25px 25px 25px 0;

    color: #fff;
    background: url(../img/top/bg_ttl.png) top left no-repeat;
}

#c02 .left .bloc .c-ttl span
{
    font-size: 40%;

    letter-spacing: 2px;
}

#c02 .left .bloc .cont
{
    line-height: 1.8;

    margin-top: 20px;
}





#c02 .right
{
    float: right;

    width: 50%;
}




/* C03 */


#c03
{
    clear: both;

    width: 100%;
    height: 482px;
}


#c03 .left
{
    float: left;

    width: 50%;
}

#c03 .left img
{
    float: right;
}

#c03 .right
{
    float: right;

    width: 50%;
    height: 479px;

    color: white;
    background-color: #0062b0;
}

#c03 .right .bloc
{
    position: relative;
    right: -10px;

    float: left;

    width: 500px;
    padding: 25px;
}

#c03 .right .bloc .c-ttl
{
    font-size: 41px;

    padding: 25px 25px 25px 0;

    color: #fff;
    background: url(../img/top/bg_ttl.png) top left no-repeat;
}

#c03 .right .bloc .c-ttl span
{
    font-size: 40%;

    letter-spacing: 2px;
}

#c03 .right .bloc .cont
{
    line-height: 1.8;

    margin-top: 20px;
}


/* Btn */

.btn02
{
    line-height: 62px;

    width: 100%;
    height: 62px;
    margin-top: 30px;

    -webkit-transition: .3s ease-out;
       -moz-transition: .3s ease-out;
         -o-transition: .3s ease-out;
            transition: .3s ease-out;
    text-align: center;

    color: white;
    border: 1px solid #fff;
}

.btn02:hover
{
    line-height: 62px;

    width: 100%;
    height: 62px;
    margin-top: 30px;

    text-align: center;

    color: #0062b0;
    color: white;
    border: 1px solid #0062b0;
    background-color: white;
}

a.change:hover
{
    text-decoration: none;
}

a.change .btn02:hover
{
    color: #0062b0;
}
