<?php require('./wp-load.php'); ?>
<?php
/**
 * The main template file
 *
 * This is the most generic template file in a WordPress theme
 * and one of the two required files for a theme (the other being style.css).
 * It is used to display a page when nothing more specific matches a query.
 * e.g., it puts together the home page when no home.php file exists.
 *
 * Learn more: {@link https://codex.wordpress.org/Template_Hierarchy}
 *
 * @package WordPress
 * @subpackage Twenty_Fifteen
 * @since Twenty Fifteen 1.0
 */

get_header(); ?>
  <link rel="stylesheet" href="<?php echo home_url( '/' ); ?>css/company.css" />
<div class="sub-main-visual cf">
  <div class="sub-ttl inner">会社情報 <span>Company Infomation</span> </div>
</div>
<div class="bread">
  <ul>
    <li> <a href="http://with-lc.com/">HOME</a> </li>
    <li>会社情報</li>
  </ul>
</div>
<main class="cf">
  <div id="c01" class="cf">
    <h2>企業理念 </h2>
    <div class="cont">
      <div class="big-copy">ひとりひとりに合った <br>ホリスティックサポートを実現。 </div>
    </div>
  </div>
  <div id="c02" class="cf">
    <h2>会社概要 </h2>
    <div class="cont">
      <div class="left">
        <table>
          <tr>
            <th>代表者</th>
            <td>柴野 良太</td>
          </tr>
          <tr>
            <th>資本金</th>
            <td>500,000円</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒062-0004<br>北海道札幌市豊平区美園4条2丁目2-25<br> TEL：011-252-7133／FAX：011-252-7134 </td>
          </tr>
          <tr>
            <th>設立</th>
            <td>平成25年9月24日（創業）<br> 平成27年3月19日（法人設立）</td>
          </tr>
          <tr>
            <th>従業員数</th>
            <td>16名※パート含む（2019年9月現在）</td>
          </tr>
        </table>
      </div>
      <div class="right">
        <table>
          <tr>
            <th>事業内容</th>
          </tr>
          <tr>
            <td>● 訪問はり灸マッサージ（ウィズ鍼灸治療院）の運営<br> ● 鍼灸整骨院、リラクゼーションサロンの運営・運営支援<br> ● 医療運営支援<br> ● 経営、事業コンサルタント<br> ● 介護事業運営・教育・支援</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="c03" class="cf">
    <h2>沿革 </h2>
    <div class="cont">
      <div class="left">
        <table>
          <tr>
            <th>平成25年 9月24日</th>
            <td>ウィズ鍼灸治療院 開設</td>
          </tr>

          <tr>
            <th>平成27年 3月19日</th>
            <td>法人登記<br>株式会社ウィズライフクリエイト 設立</td>
          </tr>
          <tr>
            <th>平成27年 5月 1日</th>
            <td>ウィズ鍼灸治療院<br>札幌本院を札幌市中央区南8条西9丁目755-23-702へ移転</td>
          </tr>
 <tr>
            <th>平成28年 4月15日 </th>
            <td>ウィズ鍼灸治療院 松戸院開設</td>
          </tr>
        </table>
      </div>
      <div class="right">
        <table>
         
          <tr>
            <th>平成29年 6月 1日</th>
            <td>ウィズライフクリエイト 介護事業部開設</td>
          </tr>
          <tr>
            <th>平成29年10月 1日</th>
            <td>ウィズ鍼灸治療院<br>札幌本院を札幌市中央区南8条西14丁目1-1-1102へ移転</td>
          </tr>
          <tr>
            <th>平成30年 3月 1日</th>
            <td>ウィズ訪問介護ステーション 開設</td>
			  </tr>
			  <th>令和元年 9月 1日</th>
            <td>ウィズライフクリエイト<br>札幌市豊平区美園4条2丁目2-25へ移転
				<br>ウィズ鍼灸治療院 札幌院<br>札幌市中央区南7条西12丁目1-1-101へ移転
				<tr>
			</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
    
        <?php get_footer(); ?>