<?php require('./wp-load.php'); ?>
<?php
/**
 * The main template file
 *
 * This is the most generic template file in a WordPress theme
 * and one of the two required files for a theme (the other being style.css).
 * It is used to display a page when nothing more specific matches a query.
 * e.g., it puts together the home page when no home.php file exists.
 *
 * Learn more: {@link https://codex.wordpress.org/Template_Hierarchy}
 *
 * @package WordPress
 * @subpackage Twenty_Fifteen
 * @since Twenty Fifteen 1.0
 */

get_header(); ?>
<link rel="stylesheet" href="<?php echo home_url( '/' ); ?>css/concept.css" />
<div class="sub-main-visual cf">
  <div class="sub-ttl inner"> コンセプト<span>Concept</span> </div>
</div>
<div class="bread">
  <ul>
    <li><a href="http://with-lc.com/">HOME</a></li>
    <li>コンセプト</li>
  </ul>
</div>
<main class="cf">
  <h2> 私たちが目指すもの </h2>
  <div class="sub-c-ttl">
    <h3>地域包括ケア</h3>
    <p>地域包括ケアでは、ご利用者様を取り巻く様々なサービスの提供者同士の密な連携がカギとなります。</p>
  </div>
  <div class="image"> <img src="<?php echo home_url( '/' ); ?>img/concept/concept.jpg" alt=""> </div>
  <div class="message">
    <div class="mes-ttl">地域包括ケアとは？</div>
    <p>地域包括ケアとは、地域にお住いの方が要介護状態となっても、必要なサービスを必要な分だけ利用でき、地域に永く住み続けることができるよう、医療・保険・在宅サービスが十分に整えられ、それが連携し、一体的、体系的に提供される仕組みであり、弊社ではこのシステムの実現に向けて努めてまいります。</p>
  </div>
</main>
        
        <?php get_footer(); ?>