<?php require('./wp-load.php'); ?>
<?php
/**
 * The main template file
 *
 * This is the most generic template file in a WordPress theme
 * and one of the two required files for a theme (the other being style.css).
 * It is used to display a page when nothing more specific matches a query.
 * e.g., it puts together the home page when no home.php file exists.
 *
 * Learn more: {@link https://codex.wordpress.org/Template_Hierarchy}
 *
 * @package WordPress
 * @subpackage Twenty_Fifteen
 * @since Twenty Fifteen 1.0
 */

get_header(); ?>
<link rel="stylesheet" href="<?php echo home_url( '/' ); ?>css/recruit.css" />
<div class="sub-main-visual cf">
  <div class="sub-ttl inner">採用情報 <span>Recruitment</span> </div>
</div>
<div class="bread">
  <ul>
    <li> <a href="http://with-lc.com/">HOME</a> </li>
    <li>採用情報</li>
  </ul>
</div>
<main class="cf">
  <div id="c01" class="cf">
    <h2>メッセージ</h2>
    <div class="cont">
      <div class="big-copy">一緒に働く仲間を、随時募集しております </div>
      <p> 私たちは札幌、千歳、苫小牧で訪問はり灸マッサージを行い、歩けない方や、歩行が困難で、<br>マッサージを受けたくても受けられない通院できない方のお家や老人ホーム等に伺い、リハビリ効果のあるはりや灸を使ってのマッサージを行っております。 身体に悩みを抱えた方々の、日々の悩みをちょっとでも解消し、それが地域貢献に繋がればという思いで、日々仕事に取り組んでおります。<br> 今後事業を拡大して行くに伴い、各地域でのスタッフを随時募集しております。身体が不自由なお年寄りや、障害をもたれた方に、もっと元気になってもらいたい。そんな気持ちで仕事に取り組んでもらえれば幸いです。興味のある方は、下記募集要項をご覧いただき、ぜひ一度ご連絡ください。スタッフ一同、心よりお待ちしております。 </p>
    </div>
  </div>
  <div id="c02" class="cf">
    <h2>募集要項</h2>
    <div class="cont cf">
      <div class="top cf">
        <div class="left">
          <table>
            <tr>
              <th>内容</th>
              <td>ご自宅や高齢者施設へ訪問し、施術を行っていただきます。</td>
            </tr>
            <tr>
              <th>研修</th>
              <td>経験者は２週間くらい、訪問が初めての方は１か月くらいを目安に先輩に同行し、仕事の流れや患者様を見ていただきます。</td>
            </tr>
            <tr>
              <th>資格</th>
              <td>鍼灸師又は鍼灸師・あんまマッサージ師の有資格者。車持ち込みができる方<br>（車がない方もご相談ください）年齢・経験・ブランクは不問。経験者は優遇いたします。</td>
            </tr>
            <tr>
              <th>時間</th>
              <td>①9:00～18:00（昼休み1時間）<br> ②9:00～15:00（昼休み30分）</td>
            </tr>
            <tr>
              <th>休日</th>
              <td>①日曜・祝日 <br> ②週休2日（日・祝・指定曜日）</td>
            </tr>
            <tr>
              <th>待遇</th>
              <td>(①②共通) 各種保完備、精勤手当、車両手当、ガソリン代全額支給、白衣貸与、昇給年１回、賞与年２回、積立制度、歩合給有り</td>
            </tr>
          </table>
        </div>
        <div class="right">
          <table>
            <tr>
              <th>給与</th>
              <td>①月170,000円～280,000円 <br> 【給与例】 <br> ◆入社2年目／26歳 男性 <br> 基本給＋手当＋歩合給 <br> ＝月270.000円 <br> <br> ②140,000円～220,000円 <br> 【給与例】 <br> ◆入社1年目／31歳 女性 <br> 基本給＋手当＋歩合給 <br> ＝月200.000円<br></td>
            </tr>
            <tr>
              <th>休暇</th>
              <td>年末年始・GW・お盆・有給休暇</td>
            </tr>
            <tr>
              <th>応募</th>
              <td>まずはお電話ください。ご不明な点があれば、お気軽にお問い合わせください。</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="recruit-form cf">
        <h4>■ご応募はこちら</h4>
        <p> お電話の際に「求人の件でホームページを見ました」とお伝えください。<br> 担当者がご案内させていただきます。 </p>
        <div class="tel"> <img src="img/recruit/tel.svg" width="90px" alt="">011-252-7133 </div>
        <h4>■メールでのお問い合わせ</h4>
        <p> 下記ボタンより、お問い合わせフォームへお進みください。 </p>
        <a href="http://with-lc.com/contact/">
          <div class="mail"> メールでのお問い合わせはこちらから </div>
        </a>
      </div>
    </div>
  </div>
</main>
            
        <?php get_footer(); ?>