<?php require('./wp-load.php'); ?>
<?php
/**
 * The main template file
 *
 * This is the most generic template file in a WordPress theme
 * and one of the two required files for a theme (the other being style.css).
 * It is used to display a page when nothing more specific matches a query.
 * e.g., it puts together the home page when no home.php file exists.
 *
 * Learn more: {@link https://codex.wordpress.org/Template_Hierarchy}
 *
 * @package WordPress
 * @subpackage Twenty_Fifteen
 * @since Twenty Fifteen 1.0
 */

get_header(); ?>
<link rel="stylesheet" href="<?php echo home_url( '/' ); ?>css/service.css" />
<div class="sub-main-visual cf">
  <div class="sub-ttl inner">事業内容 <span>Our Service</span> </div>
</div>
<div class="bread cf">
  <ul>
    <li> <a href="http://with-lc.com/">HOME</a> </li>
    <li>事業内容</li>
  </ul>
</div>
<!--<div class="sub-nav cf">
        <ul>
          <li class="balloon-1-bottom">
            <a href="#c01" uk-scroll>鍼灸事業</a>
          </li>
          <li class="balloon-1-bottom">
            <a href="#c02" uk-scroll>介護事業</a>
          </li>
        </ul>
      </div>-->
<main class="cf">
  <div id="c01" class="cf">
    <h2>鍼灸事業</h2>
    <div class="cont">
      <a href="http://www.with-sin9.com/" target="_blank">
        <div class="btn"> 鍼灸事業
          <!--<img src="img/service/w_logo.svg" width="228" alt="">-->についてはこちら &#9654; </div>
      </a>
    </div>
  </div>
  <div id="c02" class="cf">
    <h2>介護事業</h2>
    <div class="cont">
      <div class="col-1">
        <h4>介護事業部のはじまり</h4>
        <p>弊社は、高齢者や障害のある方に対し、訪問による「はり」、「灸」、「マッサージ」をおこなっております。近頃では、訪問による治療ニーズも増え、利用者様のご希望に合わせ施術しております。そんな中、施術者に対して、介護サービスによる質問が多く即座にお答えできないことが多々あり、悔しい想いをしてまいりました。そこで、利用者様に対し、より良い情報を提供し少しでもお役にたてればと思い介護事業を発足することとなりました。 おひとりおひとりの人生に寄り添ったホリスティックサポートの実現を目指します。『皆様にウィズでの生活を送ることで、心身ともに元気になっていただきたい！』をコンセプトとし、日々精進してまいります。 </p>
      </div>
      <div class="col-2">
        <h4>介護事業部のとりくみ</h4>
        <div class="main-ttl">ご利用いただく皆様の生き方をカスタマイズ致します！ </div>
        <p>高齢の方、障がいのある方、生活にお困りの方、どんな方でもご相談ください。「介護施設」「グループホーム」「老人ホーム」とは違い、日常生活を送るうえでの制限はなく、自由な生活がおくれます。入居をご希望される方のニーズをお伺いし、生活全般のサポートをいたします。 </p>
        <div class="box01">
          <div class="b-ttl">訪問介護<br>サービス</div><span>安心して住み続けることが<br>
できるよう、できない部分の<br>サポートを致します。
</span> </div>
        <div class="box02">
          <div class="b-ttl">相談窓口サービス</div><span>日常生活を送るうえで<br>生活全般の<br>
相談窓口サービスの提供<br>
（医療・介護保険制度等…）
</span> </div>
        <div class="box03">
          <div class="b-ttl">住宅サービス</div><span>自分らしい生活実現を目指し、<br>その方に合った生活を<br>カスタマイズ致します。</span> </div>
      </div>
    </div>
    <div class="col-1">
      <h4>ウィズホームの費用とサービス内容</h4>
      <p> <span class="circle">費用 </span>
        <table>
          <tr>
            <th class="c-gray01">項目</th>
            <th class="c-pink01">夏季（5月～9月）</th>
            <th class="c-orange01">冬季（10月～4月）</th>
          </tr>
          <tr>
            <td>家賃</td>
            <td>36,000円</td>
            <td>36,000円</td>
          </tr>
          <tr>
            <td class="c-gray02">食事</td>
            <td class="c-pink02">38,500円</td>
            <td class="c-orange02">38,500円</td>
          </tr>
          <tr>
            <td>水道・光熱費</td>
            <td>25,000円</td>
            <td>35,000円</td>
          </tr>
          <tr>
            <td class="c-gray02">管理費</td>
            <td class="c-pink02">10,000円</td>
            <td class="c-orange02">15,000円</td>
          </tr>
          <tr>
            <td>合計</td>
            <td class="total">109,500円</td>
            <td class="total">124,500円</td>
          </tr>
        </table> <span class="note">※入居時には、敷金として家賃2か月分が別途必要になります。 
                <br>※お食事は希望により提供します。（1,200円／日 × 当月日数分） 
                <br>※水道・光熱費（水道、ガス、電気）　※安心確認サービス、緊急コール対応含む 
                <br>※光熱費は上限を超えた場合は実費となります。
              </span> </p>
    </div>
    <div class="col-1">
      <h4>ご入居の流れ</h4>
      <p>ご入居まで、ご入居からの流れをご紹介させていただきます。</p>
      <p><img src="<?php echo home_url( '/' ); ?>img/service/flow.png" alt=""></p>
    </div>
    <div class="col-1">
      <div class="top">
        <h4>ウィズ訪問介護ステーション</h4>
        <p class="cop">ウィズ訪問介護ステーションでは、ご自宅で介護を受けられたい方に対しての訪問介護サービスを行っております。</p>
        <div class="left">
          <p class="voice">Q.自宅で訪問介護・居宅介護を使いたいがなかなか受けてもらえない</p>
          <p class="answer"><span>A.基本的にお断りしません！！</span>なるべくご希望に添ったお時間で対応しますが、曜日や時間の調整をお願いする場合がございます。</p>
          <p class="voice">Q.自分や家族がどういったサービスが必要なのかわからない</p>
          <p class="answer"><span>A.圧倒的連携力でサポートいたします！！</span> 市内介護事業所や住宅、医療機関との連携先が多数ございます。各種サービスの相談等、あなたに合った事業所を一緒にお探しさせていただきます。</p>
        </div>
        <div class="right">
          <div class="box cf">
            <div class="orange">札幌市全域にご訪問いたします！</div>
            <div class="top cf">
              <div class="contact">
                <div class="note01">ご相談受付中！</div> <span>お問い合わせ・ご相談は</span>
                <div class="tel"><img src="<?php echo home_url( '/' ); ?>img/service/free.svg" width="60" alt="">0120-973-325</div>
                <!--<div class="name">担当：高橋まで</div>--></div>
            </div>
            <table>
              <tr>
                <th>対　象</th>
              </tr>
              <tr>
                <td>介護保険証をお持ちの方。または、<br> 障害福祉サービス受給者証をお持ちの方。 <br> <span>※各証書をお持ちではない方もご相談ください。</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <h4>生活サポートチケット</h4>
      <div class="cont">
        <div class="left">
          <p>当ホームでは生活を送るうえで、介護保険や障害福祉サービスでは対応できない要望に対してサポートさせていただくチケットをご用意しております。</p>
          <div class="main-ttl">10枚１セット　10,000円（税別）</div>
          <p class="b">( 1枚で20分サポートいたします。)</p>
          <p>※事前にご依頼いただいたものに実施いたします。<br> ※当日、または緊急の場合は対応しかねる場合がございます。<br> ※利用にかかわる交通費はご負担いただきます。</p>
          <p></p>
        </div>
        <div class="right"> <img src="<?php echo home_url( '/' ); ?>img/service/ph02.jpg" alt="車いすの方と手をつなぐシーン"> </div>
      </div>
    </div>
  </div>
</main>
 <?php get_footer(); ?>